.about .approach {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about .title_header {
    text-align: center;
    margin-top: 2rem;
}

.about .approach_img img{
    width: 100%;
    height: 100%;
}

.about .approach p{
    padding: 0 2rem;
}

.about .stat_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding:2rem;
    background-color: var(--secondary-color);
}

.about .stat_number h2 {
    color: var(--white);
}

.result_stat_number {
    text-align: center;
    padding: 2rem;
}

.result_stat_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.handicap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
} 

.result_stat_number.open {
    display: flex;
}

.handicap .logo {
    height: 70px;
    width: 70px;
    box-shadow: var(--shadow-container);
    border-radius: 50%;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    margin-right: 1rem;
}

.handicap .logo img{
    width: 50px;
    height: 50px;
}

.about a {
    text-decoration: underline;
    color: blue;
}

.about .info {
    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
}

.about .info p {
    color: var(--white);
    margin-bottom: 1rem;
}

.about .info.second {
    background-color: var(--background-color);
    text-align: left;
}

.about .info.second p {
    color: var(--text-color);
}

.about .info.third {
    text-align: left;
    background-color: var(--background-color);
}

.about .info.third p{
    color: var(--text-color);
}

.about .info.third ul {
    color: var(--text-color);
    margin-left: 1rem;
}

.about .info.third #first-list {
    margin-bottom: 1rem;
}

.focus-text {
    font-weight: 700;
}

.about hr {
    width: 80%;
    margin: auto;
}

.block_graph {
    padding: 2rem;
}

.block_graph h2 {
    text-align: center;
}

.block_graph .graph_container {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.info.first a {
    color: var(--white);
}

.info.first #white {
    color: var(--white);
}

@media screen and (min-width: 1024px) {
    .approach_img {
        width: 50vw;
        height: auto;
    }

    .approach_img img {
        width: 100%;
        height: 100%;
    }

    .handicap {
        width: 50%;
        flex-direction: column;
        text-align: center;
        gap: 1.2rem;
        margin: auto;
    }

    .handicap .logo {
        margin: 0;
    }

    .handicap h3,
    .handicap p {
        margin-bottom: 0.5rem;
    }

    .info.second,
    .info.third {
        width: 80%;
        margin: auto;
    }

    .about .block_graph .graph_container {
        width: auto;
        height: 80vh;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }

    .block_graph cite {
        display: block;
    }

    .about .block_graph .graph_container img {
        width: 100%;
        height: 100%;
    }
}