:root {
  --background-color: #ebf2fa;
  --white: #fcfcfc;
  --black: #1a1616;
  --text-color: #1a1616;
  --title-color: #1a1616;
  --primary-color: #05668D;
  --secondary-color: #22333b;
  --third-color: ;
  --btn-one: #427aa1;
  --btn-one-hover: #234258;
  --btn-one-active: #427ba4;
  --btn-two: #679436;
  --btn-two-hover: #374f1d;
  --btn-two-active: #679436;
  --btn-three: #22333b;
  --btn-three-hover: #070b0c;
  --btn-three-active: #2e4550;
  --primary-font: "Inter";
  --title-font: "Inter";
  --size: 14px;
  --sm-size: 1.2em;
  --input-size: 40px;
  --shadow-container: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size);
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "inter";
}

.main {
  margin-top: 6rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--title-font);
  color: var(--title-color);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.no_btn {
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
}

.zoom:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* BUTTON */

.btn {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--primary-font);
  font-size: var(--size);
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition:
    background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus {
  background-color: #16437e;
  color: #ffffff;
}

.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.btn.one {
  background-color: var(--btn-one);
  color: var(--background-color);
}

.btn.one:hover,
.btn.one:focus {
  background-color: var(--btn-one-hover);
}

.btn.one:active {
  background-color: var(--btn-one-active);
}

.btn.two {
  background-color: var(--btn-two);
  color: var(--background-color);
}

.btn.two:hover,
.btn.two:focus {
  background-color: var(--btn-two-hover);
}

.btn.two:active {
  background-color: var(--btn-two-active);
}

.btn.three {
  background-color: var(--btn-three);
  color: var(--background-color);
}

.btn.three:hover,
.btn.three:focus {
  background-color: var(--btn-three-hover);
}

.btn.three:active {
  background-color: var(--btn-three-active);
}

/* INPUT */

.input {
  box-shadow: inset var(--white) 0 0 0 2px;
  border: 0;
  background: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: #1a1616;
  font-size: 1em;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;
  text-align: center;
}

.input::placeholder {
  color: #1a1616;
}

.input:hover{
    box-shadow: 0 0 0 0 var(--white) inset, var(--secondary-color) 0 0 0 2px;
}

.input:focus{
    outline: 0;
    box-shadow: 0 0 0 0 var(--white) inset, var(--secondary-color) 0 0 0 3px;
}

.input_search {
  background: #ffffff url('/assets/images/icons/search.svg') no-repeat;
  background-size: 2rem;
  background-position: 0.5rem center;
  padding-left: 3rem;
}

.input_location {
  background: #ffffff url('/assets/images/icons/location.png') no-repeat;
  background-size: 2.3rem;
  background-position: 0.3rem center;
  padding-left: 3rem;
}

.input_chevron {
  background: #ffffff url('/assets/images/icons/down-arrow.png') no-repeat;
  background-size: 2rem;
  background-position: 0.5rem center;
  padding-left: 3rem;
}