.top_bar {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: var(--white);
    border-bottom: var(--white) 2px solid;
}

.top_bar .logo {
    border-radius: 50%;
    background-color: var(--white);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.top_bar h2 {
    color: var(--white);
}

.top_bar .btn_burger_menu {
    height: 35px;
    width: 35px;
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
}

.top_bar .btn_burger_menu img {
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    object-fit: contain;
}

.nav_top_bar {
    display: none;
}

@media screen and (min-width: 1024px) {

    .top_bar {
        padding: 0.5rem 1rem;
    }

    .top_bar .btn_burger_menu {
        height: 45px;
        width: 45px;
    }

    .banner {
        height: 20vh;
    }
}