.carousel_container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    
  }
  
  .carousel {
    display: flex;

    transition: transform 0.5s ease-in-out;
  }
  
  .carousel_item {
    justify-content: center;
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel_item.active {
    
    opacity: 1;
  }
  
  .carousel_control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel_control.prev {
    left: 1rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -10px;
    font-size: 3em;
    background-image: url("/assets/images/icons/chevron-left.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -0.3rem
  }
  
  .carousel_control.next {
    right: 1rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: -10px;
    font-size: 3em;
    background-image: url("/assets/images/icons/chevron-right.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0.05rem;
  }
  
  .carousel_indicators {
    position: absolute;
    bottom: 3px; /* Adjusted value to move the indicators down */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: white;
  }

  .carousel_control.prev.dark, 
  .carousel_control.next.dark  {
    border: solid 2px #1a1616;
    background-color: #fcfcfc;
    color: #1a1616;
  }
  