.all_card_home_info_offer {
  margin: auto;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  width: 90%;
}

.card_home_logo_company {
  background-color: #e6e6e6;
  padding: 1rem;
  border-radius: 1rem;
  margin: auto;
  margin-right: 1rem;
}

.card_home_logo_company img {
  width: 50px;
  height: 35px;
}

.card_image_favoris {
  margin-top: 1rem;
}

.card_image_favoris img {
  width: 30px;
}
.card_home_info_offer {
  display: flex;
  justify-content: space-evenly;
}

.card_home_info_hour_type {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card_home_info_hour_type p {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.card_info_name_date {
  display: flex;
  align-items: center;
}
.card_home_info_separator {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.card_home_info_h2 h2 {
  font-size: 1.2rem;
}

.card_home_name_date {
  font-size: 0.85rem;
  font-weight: 600;
}

.card_home_info_date {
  font-size: 0.7rem;
}

.card_home_input {
  display: flex;
  justify-content: center;
}
.card_home_input input {
  background-image: url("/assets/images/icons/localisation-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  width: 90%;
  height: 3rem;
  text-align: center;
  padding-left: 2rem;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card_home_para p {
  margin-bottom: 1rem;
}

.card_home_para hr {
  background-color: gray;
  border: 1px solid gray;
  border-radius: 2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}

.card_home_disability_requiered {
  text-align: center;
  font-weight: 700;
}

.all_logo_disability {
  display: flex;
  justify-content: space-evenly;
}

.all_logo_disability img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.card_home_container_button {
  display: flex;
  justify-content: center;
}

.logo_disability {
  background-color: var(--secondary-color);
  padding: 0.3rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
}
